.serviceCardContainer {
  padding: 6%;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 8px;
  border-color: #1a1e93;

  & p {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
