.resultContainer {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.resultList {
  font-size: 1.2rem;
  font-weight: 600;
}

.resultSum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}
